.~lock.*
*.bak
*.log
*.properties
data/**
docs/**
libs/**
outputsheets/**
plugins/**
preview/**
settings/**
system/**
!system/gameModes/Gozzilioni/
#system/gameModes/35e/**
#system/gameModes/Darwins_World_2/**
#system/gameModes/default/**
#system/gameModes/Fantasy_Craft/**
#system/gameModes/Gaslight/**
#system/gameModes/Immortal/**
#system/gameModes/Killshot/**
#system/gameModes/Modern/**
#system/gameModes/OSRIC/**
#system/gameModes/Pathfinder/**
#system/gameModes/Pathfinder_PFS/**
#system/gameModes/zen_test/**
#system/icons/**
#system/Langauges/**
#system/my_gamemode/**
#system/mypcgen/**
#system/icons/**
#system/outputFilters/**
#system/sponsors/**
system/*.*
vendor_file/**
vendordata/**
config.ini
LICENSE
logging.properties
pcgen.exe
pcgen.jar
pcgen.log
pcgen.sh
pcgen_hi_mem.bat
pcgen_low_mem.bat
pcgen-batch-convert.jar
